
<!DOCTYME html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chris Dents Pig Latinizer  </title>
  </head>

  <body>
  <h1>Welcome to Chris' Pig Latinizer!</h1>

  <form method="POST" action="/piglatinize">
  <h1>Enter your phrase: <input type="text" name="user_phrase"></h1>
  <input type="submit">
  </form>

</body>
</html>
